@model ProfileDataViewModel
@{ ViewData["Title"] = "Account Page"; }
<div class="text-center">
    <img src="/img/man.png" class="rounded">
    <h4>Username: <label class="font-weight-lighter">@Model.Username</label></h4>
    <hr>
    <h4>E-Mail: <label class="font-weight-lighter"> @Model.Email</label></h4>
    <hr>
    <h4>Role: <label class="font-weight-lighter">@this.User.IsInRole("User")</label></h4>
</div>
<div>
    <h3>Shoe offers made: <label class="font-weight-lighter">@Model.MyShoeCount</label> </h3>
    <h3>Favourites shoes: <label class="font-weight-lighter">@Model.FavouriteShoesCount</label></h3>
    <h3>Purchases made: <label class="font-weight-lighter">@Model.PurchasesCount</label></h3>
</div>
