@model ProfileDataViewModel
@{ ViewData["Title"] = "Account Page"; }
<div class="text-center">
    <img src="/img/man.png" class="rounded">
    <h4>Username: @Model.Username </h4>
    <h4>E-Mail: @Model.Email</h4>
</div>
<div>
    <h3>Shoe offers made: @Model.MyShoeCount</h3>
    <h3>Favourites shoes: @Model.FavouriteShoesCount</h3>
    <h3>Purchases made: @Model.PurchasesCount</h3>
</div>
