@model AllShoesQueryModel
@using Microsoft.AspNetCore.Identity
@using FootShopSystem.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ ViewData["Title"] = "All shoes"; }

@if (!this.SignInManager.IsSignedIn(User))
{
    <div class="text-center">
    <h1>You must LogIn/Register first!</h1>
    </div>
}

else 
	{
	         
	
       <!DOCTYPE html>
       <html lang="en">
       <head>
           <meta charset="UTF-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" href="/css/All.css">
           <title>Document</title>
       </head>
       <body>
           <form method="get">
               <div class="row">
                   <div class="form-group col-md-4">
                       <div class="form-group">
                           <label asp-for="Brand"></label>
                           <select asp-for="Brand" class="form-control">
                               <option value="">All</option>
                               @foreach (var brand in Model.Brands)
                               {
                   <option value="@brand">@brand</option>}
                           </select>
                       </div>
                   </div>
       
                   <div class="form-group col-md-4">
                       <label asp-for="SearchTerm">SearchTerms</label>
                       <input asp-for="SearchTerm" class="form-control" placeholder="Nike,Addidas,Puma, etc....">
                   </div>
               </div>
           </form>
       
           @{ var previousPage = Model.CurrentPage - 1;
               if (previousPage < 1)
               {
                   previousPage = 1;
               }
       
               var maxPage = Math.Ceiling((double)Model.ShoeCount / AllShoesQueryModel.ShoesPerPage); }
       
           <div class="row">
               <div class="col-md-6">
                   <a class="btn btn-dark @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                      asp-controller="Shoes"
                      asp-action="All"
                      asp-route-currentPage="@(Model.CurrentPage - 1)">--</a>
               </div>
       
               <div class="col-md-6">
                   <a class="btn btn-dark float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
                      asp-controller="Shoes"
                      asp-action="All"
                      asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>
                   
               </div>
           </div>
       
           <div class="main">
               <div class="Container">
                   <h3>Categories</h3>
                   <div class="vertical-div">
                       <a> Winter boots (49)</a>
                       <hr>
                       <a> Trainers (29)</a>
                       <hr>
                       <a> Sandals (15)</a>
                       <hr>
                       <a> Casual shoes (97)</a>
                   </div>
                   <h3>Filters</h3>
                   <div class="filtersContainer">
                       <h3>Brand</h3>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> ADIDAS (82)</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> Nike (82)</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> PUMA (82)</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> UNDER ARMOR (82)</a>
                       </div>
                   </div>
                   <div class="filtersContainer">
                       <h3>Price</h3>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> To 70 BGN</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> 70 - 120 BGN)</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> 120 - 170 BGN</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> 170 - 270 BGN</a>
                       </div>
                       <div>
                           <a><img class="checkbox" src="/img/checkbox.png"> Above 270 BGN</a>
                       </div>
                   </div>
               </div>
       
               <div class="AllShoes">
       
                   @foreach (var shoe in Model.Shoes)
                   {
                   <div class="item">
                       <img src="@shoe.ImageUrl" class="picture" asp-append-version="true">
                       <label class="text">@shoe.Brand</label>
                       <label class="text">@shoe.Model</label>
                       <label class="textPrice">@shoe.Price BGN</label>
                       <a class="btn btn-info detailsBtn" asp-controller="Shoes" asp-route-id="@shoe.Id" asp-action="Details">Details</a>
                   </div>      }
               </div>
           </div>
       
       
       </body>
       </html>
}

        