@model AllShoesQueryModel
@using Microsoft.AspNetCore.Identity
@using FootShopSystem.Data.Models;
@using static FootShopSystem.WebConstants;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ ViewData["Title"] = "All shoes"; }

@if (!this.SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1>You must LogIn/Register first!</h1>
    </div>
}

else
{


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/All.css">
        <title>Document</title>
    </head>
    <body>
        <form method="get" class="col-12">
            <div class="row text-center">
                    <div class="form-group col-md-6">
                        <label asp-for="Brand"></label>
                        <select asp-for="Brand" class="form-control">
                            <option value="">All</option>
                            @foreach (var brand in Model.Brands)
                            {
                                <option value="@brand">@brand</option>
                            }
                        </select>
                    </div>

                <div class="form-group col-md-6">
                    <label asp-for="SearchTerm">Search Terms</label>
                    <input asp-for="SearchTerm" class="form-control" placeholder="Nike,Addidas,Puma, etc....">
                </div>
            </div>
        </form>

        @{ var previousPage = Model.CurrentPage - 1;
            if (previousPage < 1)
            {
                previousPage = 1;
            }

            var maxPage = Math.Ceiling((double)Model.ShoeCount / AllShoesQueryModel.ShoesPerPage); }

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-dark @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                   asp-controller="Shoes"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage - 1)">@("<<")</a>
            </div>

            <div class="col-md-6">
                <a class="btn btn-dark float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
                   asp-controller="Shoes"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>

            </div>
        </div>

        <div class="main">
            <div class="AllShoes col-12">

                @foreach (var shoe in Model.Shoes)
                {
                <div class="item">
                    @if (this.User.IsInRole(AdministratorRoleName))
                    {
                        @using (Html.BeginForm("DeleteShoe", "Shoes", new { id = shoe.Id }))
                        {
                            <button class="btn btn-danger detailsBtn m-2">Delete Shoe</button>
                        }
                    }
                    <img src="@shoe.ImageUrl" class="picture" asp-append-version="true">
                    <h5 class="textPrice m-1 text-center">@shoe.Brand</h5>
                    <label class="text m-1 text-center">@shoe.Model</label>
                    <label class="textPrice m-1 text-center">@shoe.Price BGN</label>
                    <a class="btn btn-info detailsBtn" asp-controller="Shoes" asp-route-id="@shoe.Id" asp-action="Details">Details</a>

                </div>
                }
            </div>
        </div>


    </body>
</html>
}

