@using static FootShopSystem.WebConstants;

@{ ViewData["Title"] = "Details"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/createAndDetails.css" />
    <title>Details</title>
</head>
<body>
    <div class="center">
        <div class="leftDiv">
            <img src="@Model.ImageUrl" class="ShoePicture">
        </div>

        <div class="leftDiv">
            <span class="nameFormated">Shoe @Model.Brand @Model.Model</span>
            <br>
            <div>
                <p class="pUpper">Model - @Model.Model</p>
                <p class="pUpper">Price - @Model.Price lv</p>
            </div>
            <hr>
            <br>
            <div class="panel-body">
                <div class="shoeColor">
                    <p class="bold">Choose Color: </p>
                    @foreach (var shoe in Model.Colors)
                    {
                        <a href="/Shoes/Details?ShoeId=@shoe.Id">
                            <img src="@shoe.ShoeColorImg">
                        </a>}
                </div>
                <div class="chooseSize">
                    <p class="bold">Choose Size : </p>
                    <ul>
                        @foreach (var size in Model.Sizes)
                        {
                            <div class="sizeContainer">
                                <button class="sizeButton">@size.SizeValue</button>
                                <label>(10 in stock)</label>
                            </div>
                        }
                    </ul>
                </div>
                <br>
                <div class="quantityAndBuy">
                    <br>
                    @if (!User.IsInRole(AdministratorRoleName))
                    {
                        <a class="nav-link text-dark addToCartBtn m-2" asp-controller="ShoppingCart" asp-route-id="@Model.Id" asp-action="Cart">Add To Cart</a>
                        @if (!Model.isFav)
                        {
                            @using (Html.BeginForm("AddToFavourites", "Profile", new { id = Model.Id }))
                            {
                                <button class="btn btn-primary mt-3">Add to Favourites &#11088;</button>
                            }

                        }
                    }

                </div>
                <br>
                <div class="text-center">
                    <label>FootShop - The Right Place For - Your Feet </label>
                </div>
            </div>
        </div>
    </div>
    <div class="productInfo">
        <h2 style="text-align:center;"> Product Information</h2>
        <hr>
        <div class="productCotainer">
            @Model.Description
        </div>
    </div>
</body>
</html>