@model ShoeDetailsServiceModel

@{ ViewData["Title"] = "Details"; }
@using FootShopSystem.Data;
@using static FootShopSystem.WebConstants;

@inject FootshopDbContext data
@{
    var userId = this.User.Id();
    var designer = data.Designers.Where(s => s.UserId == userId).FirstOrDefault();
    var IsFavourite = data.Favourites.Any(f => f.UserId == userId && f.ShoeId == Model.Id);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/createAndDetails.css" />
    <title>Details</title>
</head>
<body>
    <div class="center">
        <div class="leftDiv">
            <img src="@Model.ImageUrl" class="ShoePicture">
        </div>

        <div class="leftDiv">
            <span class="nameFormated">Shoe @Model.Brand @Model.Model</span>
            <br>
            <div>
                <p class="pUpper">Model - @Model.Model</p>
                <p class="pUpper">Price - @Model.Price lv</p>
            </div>
            <hr>
            <br>
            <div class="panel-body">
                <div class="shoeColor">
                    <p class="bold">Choose Color: </p>
                    @foreach (var shoe in Model.Colors)
                    {
                        <a asp-controller="Shoes" asp-route-id="@shoe.Id" asp-action="Details">
                            <img src="@shoe.ShoeColorImg">
                        </a>
                    }
                </div>
                <div class="chooseSize">
                    <p class="bold">Choose Size : </p>
                    <ul>
                        <div class="sizeContainer">
                            <button class="sizeButton">@Model.Size.SizeValue</button>
                        </div>
                    </ul>
                </div>
                <br>
                <div class="quantityAndBuy">
                    <br>
                    @if (!User.IsInRole(AdministratorRoleName))
                    {
                        <button class="btn btn-danger text-dark col-12" asp-controller="ShoppingCart" asp-route-id="@Model.Id" asp-action="Cart">Add To Cart</button>

                        @if (!IsFavourite)
                        {
                            @using (Html.BeginForm("AddToFavourites", "Profile", new { id = Model.Id }))
                            {
                                <button class="btn btn-primary mt-3 col-12">Add to Favourites &#11088;</button>
                            }
                             
                        }
                    }

                </div>
                <br>
                <div class="text-center">
                    <label>FootShop - The Right Place For - Your Feet </label>
                </div>
            </div>
        </div>
    </div>
    <div class="productInfo">
        <h2 style="text-align:center;"> Product Information</h2>
        <hr>
        <div class="productCotainer">
            @Model.Description
        </div>
    </div>
</body>
</html>