@{ ViewData["Title"] = "Details"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/createAndDetails.css" />
    <title>Details</title>
</head>
<body>
    <div class="center">
        <div class="leftDiv">
            <img src="@Model.ImageUrl" class="ShoePicture">
        </div>

        <div class="leftDiv">
            <span class="nameFormated">Shoe @Model.Brand @Model.Model</span>
            <br>
            <div>
            <p class="pUpper">Model - @Model.Model</p>
                <p class="pUpper">Price - @Model.Price lv</p>
            </div>
            <hr>
            <br>
            <div class="panel-body">
                <div class="shoeColor">
                    <p class="bold">Choose Color: </p>
                    @foreach (var shoe in Model.Colors)
                    {
                        <a href="/Shoes/Details?ShoeId=@shoe.Id">
                         <img src="@shoe.ShoeColorImg">
                        </a>
                    }
                </div>
                <div class="chooseSize">
                    <p class="bold">Choose Size : </p>
                    <ul>
                        @foreach (var size in Model.Sizes)
                         {
                            <div class="sizeContainer">
                                <button class="sizeButton">@size.SizeValue</button>
                                <label>(10 in stock)</label>
                            </div>
                         }
                    </ul>
                </div>
                <br>
                <div class="quantityAndBuy">
                    <br>
                    <button class="addToCartBtn m-2">Add to Cart</button>
                    <button class="addToFavBtn m-2" >Add to Favourites</button>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="productInfo">
        <h2 style="text-align:center;"> Product Information</h2>
        <hr>
        <div class="productCotainer">
            @Model.Description
        </div>
    </div>
</body>
</html>