<div class="row">
    @foreach (var shoe in Model)
    {
<div class="card" style="width: 18rem;">
    <img src="@shoe.ImageUrl" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@shoe.Brand</h5>
        <p class="card-text">@shoe.Brand @shoe.Model - @shoe.Price</p>
        <a href="/Shoes/Details?ShoeId=@shoe.Id" class="btn btn-info detailsBtn">View</a>
        <a asp-controller="Shoes" asp-action="Delete" asp-route-id="@shoe.Id" class="btn btn-danger detailsBtn">Remove</a>
    </div>
</div>}
</div>