@using FootShopSystem.Services.Home
@model List<HomeServiceModel>

@{ ViewData["Title"] = "Home Page"; }

<link rel="stylesheet" href="~/css/Home.css">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <span class="badge badge-danger ">Coming Soon</span>
            <span class="badge badge-primary ">New</span>
            <img class="d-block w-100" src="/img/bg.jpg" alt="First slide" width="50%" height="600px">
        </div>
        <div class="carousel-item">
            <span class="badge badge-danger ">Coming Soon</span>
            <span class="badge badge-primary ">New</span>
            <img class="d-block w-100" src="/img/bg3.jpg" alt="Second slide" width="50%" height="600px">
        </div>
        <div class="carousel-item">
            <span class="badge badge-danger ">Coming Soon</span>
            <span class="badge badge-primary ">New</span>
            <img class="d-block w-100" src="/img/bg2.jpg" alt="Third slide" width="50%" height="600px">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="card-deck mt-4">
    <div class="card">
        <img class="card-img-top Pictr" src="~/img/bg.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">Nike X-Future 2000</h5>
            <p class="card-text">
                Your foot sits on Nike ZoomX foam that's incredibly
                responsive and lightweight and 2 slim Zoom Air units.
                Combined with a full-length carbon-fibre plate, it feels smooth and
                responsive while delivering the most energy return of all our racing shoes.
            </p>
            @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
        </div>
    </div>
    <div class="card">
        <img class="card-img-top Pictr" src="/img/bg3.jpg">
        <div class="card-body">
            <h5 class="card-title text-center">Nike Air Max Plus</h5>
            <p class="card-text">
                Let your attitude have the edge in your Nike Air Max Plus,
                a Tuned Air experience that offers premium stability and unbelievable cushioning.
                Featuring the OG's wavy design lines, TPU accents and airy mesh on the upper,
                it celebrates defiant style.
            </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top Pictr" src="/img/bg2.jpg">
        <div class="card-body">
            <h5 class="card-title text-center">Nike Air Force 1'07</h5>
            <p class="card-text">
                The radiance lives on in the Nike Air Force 1 '07,
                the b-ball icon that puts a fresh spin on what you know best: crisp leather,
                bold colours and the perfect amount of flash to make you shine.
            </p>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="text-center">
        <h1>Newest Models</h1>
    </div>
    <div class="card-deck mt-4">
        @foreach (var shoe in Model)
         {
            <div class="card" style="width: 18rem;">
                <img src="@shoe.ImageUrl" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@shoe.Brand</h5>
                    <p class="card-text">@shoe.Brand @shoe.Model - @shoe.Color</p>
                    <p class="card-text">@shoe.Price lv</p>
                </div>
                <p class="card-text">
                    <a class="btn btn-danger detailsBtn" asp-controller="Shoes" asp-route-id="@shoe.Id" asp-action="Details">See More</a>
                </p>
                <p class="card-text"><small class="text-muted">Created on @shoe.TimeCreated </small></p>

            </div>
         }
    </div>
</div>

